 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

   header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
    z-index: 1;
   }
    ul{
      list-style: none;
      display: flex;
      gap: 10px;
    }

    a{
      text-decoration: none;
      color: black;
    }

    /* top bar */
    .div{
      /* margin-top: 10px; */
      display: flex;
      height: 40px;
      align-items: center;
      background: black;
      color: white;
      justify-content: space-around;
    }

    /* navbar */
    .navbar{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      background-color: #fff;
      /* border-bottom: 2px solid black; */
      position: relative;
    }

    .ul{
      font-size: 1.7rem;
    }

    .last-list{
      gap: 20px;
    }

    .hamburger{
      display: none;
      font-size: 24px;
      cursor: pointer;
    }

    .link-active{
      color: red;
    }
    /* Section style  */
    .container{
    width: 100%;
    margin-top:70px;
    height: 90vh;
    position: relative;
    /* border: 2px solid black; */
    overflow: hidden;
    position: relative;
    /* z-index: 2; */
}
.box2{
    position: absolute;
    color: white;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    justify-content: space-between;
}

.img-box{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

/* DOTS */
.dots{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dots span{
    width: 12px;
    height: 12px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dots span.active{
    background: rgb(193, 135, 135);
}
.card{
    font-size: 23px;
}
.card2{
    font-size: 21px;
}
.card2 button{
    margin-top: 15px;
    width: 20rem;
    height: 40px;
    justify-items: end;
    /* margin-left: 120px; */
}
.trending{
  padding: 50px 20px;
  
}
.heading{
  text-align: center;
}
.heading h2{
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #555;
}
.heading h1{
  font-size: 3rem;
  margin-top: 10px;
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px , 1fr));
  gap: 20px;
}
.product{
  text-align: left;
}
.product-box{
  background-color: #e0e0e0;
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.product-box img{
  width: 100%;
  height: 260px;
  object-fit: contain;
}
.action{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
  opacity: 0;
  transition:  .4s ease;
}
.product-box:hover .action{
  opacity: 1;

}
.action select{
  flex: 1;
  padding: 8px;
}
.action button{
  width: 100%;
  padding: 12px;
  background: black;
  cursor: pointer;
  color: white;
  transition: .3s;
}
.action button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;

}
.products h3{
  margin-top: 15px;
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.products h3:hover{
  color: red;
}
.products p{
  color: red;

}
.main-4{
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-template-columns: auto auto;
  padding: 50px 30px;
  border: none;
}

.men{
  height: 540px;
  overflow: hidden;
}

.men img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.men img:hover{
   transform: scale(1.1);
}


    /* ================= MEDIA QUERIES ================= */

    /* 772px – 992px */
    @media (min-width:772px) and (max-width:992px){
      .div{
        font-size: 1.1rem;
      }
       .box2{
        flex-direction: column;
        gap: 0;
        justify-content: center;
         
        align-items: start;
     
     }
     

    .card h1{
        font-size: 48px;
    }

    .card2{
        font-size: 20px;
    }
  
   
    }
     @media (max-width:768px) {
      .heading h1{
        font-size: 2.2rem;
      }
     }
     @media (max-width:576px) {
      .product-box img{
        height: 200px;
      }
        .main-4{
    grid-template-columns: auto;
  } 
  

     }
    /* 576px – 772px */
    @media (min-width:576px) and (max-width:772px){
      .div{
        font-size: 1rem;
      }

      .navbar .first-list{
        display: none;
      }
       .box2{
        flex-direction: column;
        gap: 0;
        justify-content: center;
         
        align-items: start;
     
     }
     
    .card h1{
        font-size: 32px;
    }

    .card2{
        font-size: 20px;
    }

    .card2 button{
        width: 16rem;
        padding: 10px;
    }
    }

    /* 300px – 576px */
    @media (min-width:300px) and (max-width:576px){

      .div{
        font-size: .9rem;
      }

      .offer{
        display: none;
      }

      /* mobile slide menu (ONLY first-list) */
      .navbar .first-list{
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background: #ded8a5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        transition: 0.4s ease;
      }

      .first-list.navlist-active{
        left: 0;
      }

      /* hide text links */
      .navbar .last-list li:nth-child(1),
      .navbar .last-list li:nth-child(2),
      .navbar .last-list li:nth-child(3){
        display: none;
      }

      /* keep icons */
      .navbar .last-list li:nth-child(4),
      .navbar .last-list li:nth-child(5){
        display: block;
      }

      .hamburger{
        display: block;
      }
       .box2{
        
         flex-direction: column;
        gap: 0;
        justify-content: center;
         
        align-items: start;
    }

    .card h1{
        font-size: 24px;
        line-height: 1.2;
    }

    .card2{
        font-size: 15px;
    }

    .card2 button{
        width: 100%;
    }
    }

    /* 100px – 300px */
    @media (min-width:100px) and (max-width:300px){

      .div{
        font-size: .8rem;
      }

      .offer{
        display: none;
      }

      .navbar .first-list{
        position: fixed;
        top: 100px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 100px);
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        transition: 0.4s ease;
      }

      .first-list.navlist-active{
        left: 0;
      }

      .navbar .last-list li:nth-child(1),
      .navbar .last-list li:nth-child(2),
      .navbar .last-list li:nth-child(3){
        display: none;
      }

      .hamburger{
        display: block;
      }
        .box2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* gap: 10px; */
        
    }

    .card h1{
        font-size: 20px;
    }

    .card2{
        font-size: 14px;
    }
       .card2 button{
        width: 100%;
    }
    .container{
        object-fit: contain;
    }
    }